.answer {
  padding-top: 150px;
  .header {
    position: absolute;
    left: 0;
    top: 72px;
    height: 387px;
    background: #0e1c42;
    width: 100vw;
    .container {
      width: 1600px;
      padding: 0 20px;
      margin: 0 auto;
      .title {
        width: 536px;
        height: 46px;
        line-height: 46px;
        color: #fff;
        background: rgb(67, 91, 130);
        margin: 10px 0;
        padding-left: 10px;
        font-size: 20px;
      }
      .msg {
        background: #fff;
        height: 272px;
        padding: 8px;
        font-size: 40px;
      }
    }
  }
  .content {
    height: 300px;
    background: #fff;
    position: relative;
    width: 1713px;
    margin: 0 auto;
    border-radius: 60px;
    // left: 108px;
    top: 350px;
    .btnBox {
      width: 50%;
      height: 100px;
      display: inline-block;
      margin: 25px 0;
      cursor: pointer;
      .btn {
        width: 674px;
        height: 100px;
        background: rgb(176, 187, 209);
        border-radius: 40px;
        text-align: center;
        line-height: 100px;
        margin: 0 auto;
        font-size: 30px;
      }
      .btnRight{
        width: 674px;
        height: 100px;
        background-color: rgb(190, 231, 178);
        border-width: 2px;
        border-color: #fff;
        border-radius: 40px;
        text-align: center;
        line-height: 100px;
        margin: 0 auto;
        font-size: 30px;
        }
      .btnWrong{
        width: 674px;
        height: 100px;
        background-color: rgb(247, 203, 203);
        border-width: 2px;
        border-color: #fff;
        border-radius: 40px;
        text-align: center;
        line-height: 100px;
        margin: 0 auto;
        font-size: 30px;
        }
    }
    // .time {
    //   position: absolute;
    //   top: 80px;
    //   left: 50%;
    //   margin-left: -60px;
    // }
  }
  .hint {
    position: relative;
    // left: 715px;
    top: 400px;
    margin-top: 30px;
    display: flex;

    .blank {
      flex: 1;
    }
    .btn {
      margin: 0 10px;
      width: 100px;
      height: 50px;
      margin-top: 2%;
      margin-left: 35%;
      background: #0e1c42;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
    }
    .time {
      position: absolute;
      // top: 80px;
      left: 50%;
      margin-left: -60px;
    }
    .skipBtn{
      margin: 0 20%;
      width: 100px;
      height: 50px;
      margin-top: 2%;
      // margin-right: 15%;
      background: #0e1c42;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
