.score {
  padding-top: 100px;
  text-align: center;
  .header {
    position: absolute;
    left: 0;
    top: 16px;
    height: 100px;
    background: #0e1c42;
    width: 100vw;
    color: #fff;
    line-height: 100px;
    font-size: 34px;
    font-weight: bolder;
  }
  .content {
    padding-top: 45px;
    .item {
      display: flex;
      text-align: center;
      background: #fff;
      width: 460px;
      height: 30px;
      line-height: 30px;
      border-radius: 20px;
      font-weight: bolder;
      margin: 20px auto;
      padding: 0 50px;
      .name {
        flex: 1;
      }
    }
    .first {
      width: 675px;
      height: 70px;
      line-height: 70px;
      border-radius: 30px;
      line-height: 70px;
      font-size: 30px;
      padding: 0 20px;
    }
  }
}
