.score {
  padding-top: 100px;
  text-align: center;
  .header {
    position: absolute;
    left: 0;
    top: 56px;
    height: 200px;
    background: #0e1c42;
    width: 100vw;
    color: #fff;
    line-height: 200px;
    font-size: 80px;
    font-weight: bolder;
  }
  .content {
    padding-top: 45px;
    .item {
      display: flex;
      text-align: center;
      background: #fff;
      width: 1021px;
      height: 66px;
      line-height: 66px;
      border-radius: 60px;
      font-weight: bolder;
      margin: 20px auto;
      padding: 0 50px;
      .name {
        flex: 1;
      }
    }
    .first {
      width: 1390px;
      height: 120px;
      line-height: 120px;
      border-radius: 30px;
      font-size: 30px;
      padding: 0 20px;
      margin-top: 150px;
    }
  }
}
