.title {
  width: 100%;
  text-align: center;
  line-height: 200px;
  height: 200px;
  position: relative;
  top: 56px;
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
  background-color: #0E1C42;
}

.mainWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding:125px;
}

.wrap {
  flex-grow: 1;
  padding-right: 20px;
}