.banner {
  background-color: #0e1c42;
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: #0e1c42;
  font-size: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  position: relative;
  top: 56px;
}
@media only screen and (max-width: 600px)  {
  .banner {
    background-color: #0e1c42;
    width: 100%;
    height: 136px;
    line-height: 136px;
    font-size: 54px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: 56px;
  }
}

.inputbox {
  background-color: #ffffff;
  width: 46.4%;
  height: 130px;
  position: absolute;
  font-size: 70px;
  left: 26.8%;
  top: 393px;
}
@media only screen and (max-width: 600px)  {
.inputbox {
  background-color: #ffffff;
  width: 80%;
  height: 100px;
  position: absolute;
  font-size: 47px;
  left: 50px;
  top: 220px;
}
}

.hostbtn {
  position: absolute;
  left: 26.8%;
  top: 600px;
  background-color: #ffffff;
  height: 240px;
  width: 22.9%;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color: #0E1C42;
  font-weight: bold;
  border-radius: 60px;
  line-height: 240px;
  cursor: pointer;
}
@media only screen and (max-width: 600px)  {
.hostbtn {
  position: absolute;
  left: 10%;
  top: 350px;
  background-color: #ffffff;
  height: 105px;
  width: 80%;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color: #0E1C42;
  font-weight: bold;
  border-radius: 60px;
  line-height: 105px;
  cursor: pointer;
}
}

.joinbtn {
  position: absolute;
  left: 50.4%;
  top: 600px;
  background-color: #ffffff;
  height: 240px;
  width: 22.9%;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color: #0E1C42;
  font-weight: bold;
  border-radius: 60px;
  line-height: 240px;
  cursor: pointer;
}
@media only screen and (max-width: 600px)  {
.joinbtn {
  position: absolute;
  left: 10%;
  top: 485px;
  background-color: #ffffff;
  height: 105px;
  width: 80%;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color: #0E1C42;
  font-weight: bold;
  border-radius: 60px;
  line-height: 105px;
  cursor: pointer;
}
}
.settings {
  left: 1672px;
  top: 60px;
  position: absolute;
  text-align: center;
  background: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  line-height: 80px;
  font-size: 12px;
  color: #3d5884;
  cursor: pointer;
}
