.joinwaiting {
  padding-top: 100px;
  text-align: center;
  .header {
    position: absolute;
    left: 0;
    top: 56px;
    height: 200px;
    background: #0e1c42;
    width: 100vw;
    .container {
      width: 1280px;
      display: flex;
      color: #fff;
      margin: 0 auto;

      .msg {
        flex: 1;
        line-height: 200px;
        font-size: 80px;
        font-weight: bolder;
      }
      .setting {
        background: #fff;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-top: 10px;
        line-height: 80px;
        font-size: 12px;
        color: #3d5884;
      }
    }
  }
  .content {
    display: flex;
    padding-top: 200px;
    .blank {
      flex: 1;
    }
    .box {
      background: rgb(164, 179, 201);
      border-radius: 60px;
      font-size: 25px;
      .player{
        font-weight: lighter;
      }
    }
    .left {
      width: 400px;
      height: 489px;
      line-height: 100px;
      margin-right: 88px;
    }
    .right {
      .top {
        width: 400px;
        height: 245px;
        line-height: 110px;
        margin-bottom: 10px;
      }
      .bottom {
        width: 400px;
        height: 245px;
        line-height: 100px;
      }
    }
  }
  .footer {
    display: flex;
    padding-top: 20px;
    .blank {
      flex: 1;
    }
    .btn {
      background: #fff;
      width: 666px;
      height: 75px;
      line-height: 75px;
      border-radius: 50px;
      margin: 0 5px;
      font-weight: bolder;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
