button{
        background-color: #ffffff;
        color: #3d5b84;
        border: 1px;
        text-align: center;
        display: inline-block;
        font-size: 24px;
        padding: 30px 42px;
        border-radius: 10%;
}
.ModalBox{
    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-Color: #3d5b84;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        border: 1px solid #fff;
        background: #3d5b84;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        color: #ffffff;
        text-align: center;
}

.ModalBox button{
    position: relative;
    padding: 10px 25px;
    
}